*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.nav{
    background-color: #000;
}

.nav__container{
    width: min(90%, 1200px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;

    --icon-toggle-menu: url("./assets/menu-open.svg");
    --transform-menu-show: translate(-100%);
}

.nav__container:has(.nav__input:checked){
    --icon-toggle-menu: url("./assets/menu-close.svg");
    --transform-menu-show: translate(0);
}

.nav__figure, .nav__toggle{
    z-index: 10;
}

.nav__input{
    display: none;
}

.nav__toggle{
    
    width: 30px;
    height: 30px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .5s;
}

.nav__input{
    width: 40px;
    height: 40px;
}

.nav__list{
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    padding: 1.5rem 5%;
    background-color: #000;
    list-style:none;


    transition: .5s transform;
}



.nav__link{
    color: white;
    text-decoration: none;
}

@media (width > 764px){
    .nav__container{
        --transform-menu-show: translate(0);
    }

    .nav__toggle{
        display: none;
    }

    .nav__list{
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;
    }
}